# Port for the Express server to listen on
PORT=5001

# MongoDB Connection String
# e.g., mongodb://127.0.0.1:27017/exam_scheduler or mongodb+srv://<username>:<password>@cluster.mongodb.net/exam_scheduler
MONGODB_URI=mongodb://127.0.0.1:27017/exam_scheduler

# Environment Mode (production / development)
NODE_ENV=development

# Password to authenticate database synchronization via the admin UI
ADMIN_PASSWORD=admin123
